body {
    font-family: 'IM Fell English', serif;
    background: url('img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #F8F9FA;
    padding: 20px;
}

.form-label, .form-select, .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #495057;
    color: #F8F9FA;
	text-align: center;
}

.form-select option {
    color: #000;
}

#install-button {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #495057;
    color: #FFF;
    border: 2px solid #6C757D;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#install-button:hover {
    background-color: #343A40;
    transform: scale(1.1);
}

.text-center {
    text-align: center;
}

#punteggi-magi-aggiuntivi {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#punteggi-magi-aggiuntivi input {
    width: 200px; /* Imposta una larghezza fissa per le input box */
    margin: 5px 0; /* Spazio tra le input box */
}

.mago-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.mago-label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adjust-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.mago-input-container input {
    text-align: center;
    margin: 0 5px;
}

.btn-custom {
    background-color: #495057;
    color: #FFF;
    border: 2px solid #6C757D;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #343A40;
    transform: scale(1.1);
}

.container {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Spazio tra i pulsanti */
    margin-top: 20px; /* Margine superiore per separare dal contenuto precedente */
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/* .text-center button {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #495057;
    background-color: rgba(0, 0, 0, 0.85);
    color: #F8F9FA;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.form-label.d-block {
    display: inline-block;
    width: auto;
    margin-top: 5px;
}

.form-control.mx-auto {
    display: inline-block;
	text-align: center;
    margin-top: 10px;
    width: auto;
}

.mb-3.text-center {
    display: inline-block;
    text-align: center;
    width: auto;
}

.dadi-aggiuntivi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.dadi-aggiuntivi-container h2 {
    margin-bottom: 20px;
}

.dadi-aggiuntivi-container .mb-3 {
    margin-bottom: 15px;
}

.dadi-aggiuntivi-container .form-control.mx-auto {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 100px; /* Puoi regolare questa larghezza secondo necessità */
}

.dice-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.adjust-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
}

footer {
    color: #F8F9FA;
}